*
{
  margin: 0;
  padding: 0;
}

/* HEADER Styling */

header
 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 5px;
 }

 header form
 {
  width: 60%;
  height: 100%;
  position: relative;
 }

 header form input:nth-child(1)
 {
  width: 100%;
  height: 100%;
 }

 header form input:nth-child(2)
 {
  position: absolute;
  right: 5px;
  height: 100%;
 }

/* NAV Styling */

.menuopener
{
  z-index: 7;
  opacity: 0%;
}

nav img, 
.menuopener
{
  height: 40px;
  position: absolute;
  top: 10px;
  right: 5px;
  width: 40px;
}

nav .menuopener ~ .menuicon,
nav .menuopener:checked ~ .closeicon
{
  display: block;
}

nav .menuopener ~ .closeicon,
nav .menuopener ~ ul,
nav .menuopener:checked ~ .menuicon
{
  display: none;
}

nav .menuopener:checked ~ ul
{
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-end;
  top: 50px;
  right: 0px;
  width: 100%;
  height: 100%;
  z-index: 7;
  list-style-type: none;
  font-size: 25px;
  background-color: white;
  opacity: 80%;
}

nav .menuopener:checked ~ ul > li 
{
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  text-align: right;
}

nav .menuopener:checked ~ ul > li:hover
{
  background-color: #95c074;
}

nav .menuopener:checked ~ ul li:nth-child(2)
{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

nav .menuopener:checked ~ ul li a
{
  text-decoration: none;
  color: black;
}

nav .menuopener ~ ul li .submenu-btn
{
  width: 80%;
  height: 30px;
  position: absolute;
  opacity: 0;
}

nav .menuopener ~ ul li img
{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 110px;
}

/* SUBMENU */

.submenu-btn ~ ul
{
  display: none;
}

.submenu-btn:checked ~ ul
{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.submenu-btn:checked ~ ul li
{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  width: 100%;
  text-align: right;
}

.submenu-btn:checked ~ ul li:hover
{
  background-color: #7ac144;
}

.submenu-btn:checked ~ ul li a
{
  font-size: 20px;
}

/* NAV Ending */
/* HEADER Ending */

/* MAIN Styling */

main section:nth-child(2),
main section:nth-child(3),
main section:nth-child(4),
main section:nth-child(5),
main section:nth-child(6),
footer
{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Buttons with a black background */
.readmore
{
  margin-top: 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
}

/* Used in SECTION 3 & SECTION 6 */
.columns
{
  display: flex;
  justify-content: space-between;
}

.column
{
  width: 45%;
}

.column ul li 
{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

/* SECTION 1 - Picture and text */

main section:nth-child(1)
{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

main section:nth-child(1) img
{
  width: 100%;
}

main section:nth-child(1) article
{
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

main section:nth-child(1) article h1
{
  font-size: 300%;
  text-transform: uppercase;
}

main section:nth-child(1) article p
{
  margin-top: 5%;
  font-size: 120%;
}

/* SECTION 2 - Picture and text */

main section:nth-child(2)
{
  background-color: white;
}

main section:nth-child(2) h2
{
  font-size: 200%;
}

.services
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-item
{
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SECTION 3 - Picture and text */

main section:nth-child(3)
{
  background-color: #edcc35;
}

main section:nth-child(3) h2
{
  font-size: 200%;
}

main section:nth-child(3) img
{
  margin-top: 30px;
  margin-bottom: 10px;
  width: 20%;
}

/* SECTION 4 - Picture and text */

main section:nth-child(4) 
{
  background-color: #7ac144;
}

main section:nth-child(4) article
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section:nth-child(4) img
{
  margin-top: 30px;
  margin-bottom: 10px;
  width: 20%;
}

main section:nth-child(4) article h2
{
  font-size: 200%;
}

main section:nth-child(4) article h3
{
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

/* SECTION 5 - Picture and text */

main section:nth-child(5) 
{
  background-color: white;
}

main section:nth-child(5) article
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section:nth-child(5) img
{
  margin-top: 30px;
  margin-bottom: 10px;
  width: 20%;
}

main section:nth-child(5) article h2
{
  font-size: 200%;
}

main section:nth-child(5) article h3
{
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

/* SECTION 6 - Picture and text */

main section:nth-child(6) 
{
  background-color: #edcc35;
  position: relative;
  padding-bottom: 0;
}

.absolute
{
  font-size: 200%;
  margin-bottom: 40px;
}

.column img
{
  top: -7em;
  position: relative;
}

main section:nth-child(6) .readmore
{
  position: relative;
  top: -5em;
}

/* SECTION 7 - Picture and text */

main section:nth-child(7)
{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

main section:nth-child(7) img
{
  width: 100%;
}

main section:nth-child(7) article
{
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

main section:nth-child(7) article h2
{
  font-size: 250%;
}

.seekjob
{
  margin-top: 20px;
  background-color: #edcc35;
  color: black;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 50px;
  text-decoration: none;
}

/* FOOTER Styling */

footer 
{
  background-color: #333333;
}

footer h2
{
  color: white;
  font-size: 200%;
  margin-bottom: 50px;
}

footer .column h3
{
  color: #7ac144;
}

footer .column ul li 
{
  color: white;
  list-style-type: none;
}

/* FOOTER Ending */
/* MAIN Ending */