* {
    margin: 0;
    padding: 0;
}

h2 
{
    text-align: center;
    margin: 20px;
}

body
{
    color: hsl(20, 10%, 100%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "menu1"
    "main"
    "menu2"
    "footer";
    height: 100vh;
}

section
{
    margin: 0 2rem;
}

article
{
    margin: 2rem 0;
}

header
{
    background-color: hsl(20, 50%, 30%);
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > div
{
    background-color: hsl(20, 30%, 40%);
    grid-area: menu2;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside
{
    background-color: hsl(20, 80%, 50%);
    display: none;
}

nav
{
    background-color: hsl(20, 30%, 60%);
    grid-area: menu1;
    display: flex;
        justify-content: center;
        align-items: center;
}

main
{
    background-color: hsl(20, 20%, 80%);
    grid-area: main;
}

footer
{
    background-color: hsl(20, 50%, 30%);
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PC Screens */
@media screen and (min-width: 1000px) {
    body
    {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
        "header header header header header header"
        "menu1 menu1 menu1 menu1 menu2 menu2"
        "site1 main main main site2 site2"
        "footer footer footer footer footer footer";
    }

    body aside:first-of-type
    {
        grid-area: site1;
    }

    body aside:last-of-type
    {
        grid-area: site2;
    }
    
    aside
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}