:root
{
    --groen: ForestGreen;
    --blaa: CornflowerBlue;
    --roed: Crimson;
    --orange: DarkOrange;
    --hvid: Whitesmoke;
    --graa: DarkSlateGrey;
}

html, h4
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--hvid);
    color: var(--graa);
}

header p, footer p, section>p, article
{
    margin-left: 4rem;
}

section
{
    color: var(--blaa);
}

/* Herfra skal du skrive din CSS kode - du må ikke ændre i koden ovenover */
/* Du må godt bruge flere CSS selectors for at opnå den ønskede effekt. Det skal ikke nødvendigvis skrives på en linje med kun en selector. */

/* SECTION 6 */

section > article > p 
{
    color: var(--orange);
}

/* Header */

header h4 + p
{
    color: var(--orange);
}

header p:nth-child(3)
{
    color: var(--blaa);
}

/* SECTION 1 */

.one article p:nth-child(1)
{
    color: var(--blaa);
}

.one article p:nth-child(2), 
.one article p:nth-child(3)
{
    color: var(--groen);
}

/* SECTION 2 */

.two article p
{
    color: var(--roed);
}

/* SECTION 3 */

.three article p:nth-child(2)
{
    color: var(--orange);
}

.three article p:nth-child(1), 
.three article p:nth-child(3)
{
    color: var(--blaa);
}

/* SECTION 4 */

.four article p:nth-child(1), 
.four article p:nth-child(2)
{
    color: var(--roed);
}

.four article p:nth-child(3)
{
    color: var(--blaa);
}

/* SECTION 5 */

.five article > p
{
    color: var(--groen);
}

/* Footer */

footer p:nth-child(2)
{
    color: var(--roed);
}

footer p:nth-child(3)
{
    color: var(--groen);
}

footer p:nth-child(4)
{
    color: var(--orange);
}