<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="./Bootstrap/css/bootstrap.min.css">
	
		<!-- Din egen CSS her -->
		<link rel="stylesheet" href="./css/style.css" type="text/css">
	
		<!-- Bootstrap JS -->
		<script src="./Bootstrap/js/bootstrap.bundle.js" defer></script>
	
		<!-- Din egen JS her -->
		<script src="./js/script.js" defer></script>
	
		<title>Template</title>
	
	</head>

<body>

	<!-- Header -->
	<header>
		<nav>
			<h2>Her kommer en menu</h2>
		</nav>
	</header>

	<!-- Main -->
	<main>
		<section>

		</section>

		<article>

		</article>
	</main>

	<!-- Footer -->
	<footer>
		<p>Her kommer en footer</p>
	</footer>

</body>
</html> 
